:root {
  --primary-color: #eefc74;
  --secondary-color: #3f87a6;
  --tertiary-color: #ebf8e1;
  --forthCollor: #e5f2fd;
  --headerFont: 'Bebas Neue', cursive;
  --bodyFont: 'Overpass', sans-serif;
  --SecondarryFont: 'Rubik', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  background: linear-gradient( var(--tertiary-color), var(--forthCollor));
}

header {
  background: linear-gradient(0.7turn, var(--secondary-color), var(--tertiary-color), var(--primary-color));
}

header h1 {
  font-family: var(--headerFont);
  font-weight:lighter;
  font-size: 3vw;
}

section {
  font-family: var(--SecondarryFont);
}

.Search-header {
  font-size: 1.5vw;
}

.section-search {
  align-items: center;
  margin: 2vw 0;
  border-radius: 0.5vw;
  background-color: white;
}

hr {
  margin: 0 auto;
}