:root {
  --primary-color: #eefc74;
  --secondary-color: #3f87a6;
  --tertiary-color: #ebf8e1;
  --headerFont: 'Bebas Neue', cursive;
  --bodyFont: 'Overpass', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background: linear-gradient(0.7turn, var(--secondary-color), var(--tertiary-color), var(--primary-color));
}

header h1 {
  font-family: var(--headerFont);
  font-weight:lighter;
  font-size: 3vw;
}

header nav{
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}